#Backend_API
BACKEND_PORT=3000

NODE_ENV=development
LOG_LEVEL=debug

# POSTGRES - DEV
POSTGRES_USER_DEV=postgres
POSTGRES_PASSWORD_DEV=password
POSTGRES_DB_DEV=cloudnative_dev
POSTGRES_PORT_DEV=5434

# POSTGRES - PROD
POSTGRES_USER_PROD=postgres
POSTGRES_PASSWORD_PROD=password
POSTGRES_DB_PROD=cloudnative
POSTGRES_PORT_PROD=5433

# Redis
REDIS_URL=redis://redis:6379

# MailHog
PORT_SMTP=1025
MAIL_WEB_PORT=8025

# MailHog configuration
MAIL_HOST=mailhog
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@cloudnative.dev
MAIL_TO=contact@cloudnative.dev

#Frontend
FRONTEND_PORT=3001
BACKEND_URL=http://localhost:${BACKEND_PORT}

# DOCKER
PROJECT=cloudnative

#Traefik - test1 - password
# Run docker run --rm httpd:alpine htpasswd -nbB test1_to_replace password_to_replace
DASHBOARD_AUTH=test1:$2y$05$kGf5Uj0q0oMZYrnOH9H37.a/o895h23sDcWV6WP4yStuiH7DPYrRS
